<footer>
    <p>&copy; 2024, <a href="https://github.com/Vytrx13" target="_blank">viniciusyt</a></p>
    <p>Made with <a href="https://www.giantbomb.com/api/" target="_blank">Giant Bomb API</a></p>
</footer>
</body>
</html>
  
