<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <title>GameEX Archive</title>
</head>

<body>
    <header>
        <a href="/reset" class="logo">GameEX Archive</a>
        <nav>
            <ul>
                <li><a href="/reset">Home</a></li>
                <!-- <li><a href="/generos">Genres</a></li> -->
                <li><a href="/random">Random</a></li>
            </ul>
        </nav>
    </header>
